.root {
    -fx-background-image: url("vino.jpg");//Se aplica al nodo ROOT de la escena ( ventana)
    -fx-background-size: stretch;
}

.button{
    //Relleno de boton
    -fx-background-color: rgb(250,235,215);
    -fx-background-radius: 7;
    -fx-border-color: rgb(250,235,215);
    -fx-border-radius: 7;
    -fx-padding: 3 6 3 6;
    //Letra
    -fx-text-fill: rgb(102,0,51);
    -fx-font: bolder italic 12pt "Calibri Light";
    //Efecto
    -fx-effect: dropshadow( one-pass-box , lightgray , 8 , 0.0 , 3 , 3 );
}

.label{
    -fx-font: bold italic 12pt "Calibri Light";
    -fx-text-fill: rgb(238,232,170);
    -fx-effect: dropshadow( gaussian, lightgrey , 11 , 0.0 , 3 , 3 );
}

.text-field{
    -fx-background-color: rgb(250,235,215);
    -fx-background-radius: 5;
    -fx-border-color: rgb(238,232,170);
    -fx-border-radius: 5;
    -fx-effect: dropshadow( one-pass-box , lightgray , 11 , 0.0 , 3 , 3 );
}

.radio-button{
    -fx-font: bold italic 12pt "Calibri Light";
    -fx-text-fill: rgb(238,232,170);
    -fx-effect: dropshadow( gaussian , lightgray , 11 , 0.0 , 3 , 0 );
}

#titulo{
    -fx-font: bold italic 24pt "juice ITC";
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian, lightgrey , 11 , 0.0 , 3 , 3 );
}

#boton-del{
    
    -fx-background-image: url("https://es.opensuse.org/images/b/be/Icon-trash.png");
    -fx-background-position: 5;
    -fx-graphic-text-gap: 0;
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-padding: 3 0 3 15;
}

#boton-ins{
    -fx-background-image: url("http://icdn.pro/images/es/a/g/agregar-icono-4175-96.png");
    -fx-background-position: 5;
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-padding: 3 0 3 15;
}

#boton-search{
    -fx-background-image: url("http://www.fancyicons.com/free-icons/124/search/png/256/search_15_256.png");
    -fx-background-position: 10;
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-padding: 3 0 3 15;
}

#lbl-flecha{
    -fx-background-image: url("arrow-up.png");
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}